.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 107px;
  width: 570px;
  margin: 51px auto 60px;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: -255px auto 0;
}

.u-section-1 .u-text-2 {
  width: auto;
  font-size: 1rem;
  margin: 20px auto 60px 48px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-form-1 {
    height: 140px;
    margin-top: 65px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -210px;
  }

  .u-section-1 .u-text-2 {
    margin: 0 30px 163px;
  }
}