.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 4px 24px 0;
}

.u-section-1 .u-form-1 {
  height: 169px;
  width: 570px;
  margin: 0 auto 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 16px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-form-1 {
    height: 140px;
    margin-top: -1px;
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}