.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-text-1 {
  margin: 75px 0 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 19px auto;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 37px;
    margin-bottom: 35px;
    height: 201px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}