.u-section-1 .u-sheet-1 {
  min-height: 301px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 39px auto;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: -255px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-top: 100px;
    margin-bottom: 0;
    height: 338px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}