.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 114px;
  margin: 49px auto 0 469px;
}

.u-section-1 .u-form-1 {
  height: 483px;
  margin: 19px 301px 0 269px;
}

.u-section-1 .u-label-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-2 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-label-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-label-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-right: undefined;
}

.u-section-1 .u-label-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
  margin-right: undefined;
}

.u-section-1 .u-label-5 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-5 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-6 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-label-6 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 18px;
    margin-right: 201px;
    margin-left: 169px;
  }

  .u-section-1 .u-btn-1 {
    width: 61%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 91px;
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 386px;
    margin-top: 21px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-label-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-label-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-label-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-label-4 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-label-5 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-label-6 {
    font-size: 0.625rem;
  }
}